<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <link rel="stylesheet" href="main_style.css">
  <link rel="stylesheet" href="chat.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="#about">LINEE</a></li>
			<li><a href="#services">CALCOLA PERCORSO</a></li>
			<li><a href="#portfolio">CHAT</a></li>
		  <li><a href="#pricing">SEGNALAZIONI</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
	<!-- <div class="row" id="row-room"> -->
		<div class="panel panel-default" id="panel-room">
			<div class="panel-heading text-center">
				Chat
			</div>
			<div class="panel-body">
				<ul class="chat">
					<li class="clearfix left">
						<span class="chat-img pull-left"> 
							<img src="user.png" alt="User Avatar" class="img-circle" width="50px"/>
						</span>
						<div class="message">
							<div>
								<strong class="primary-font">Username</strong>
								<small class="text-muted pull-right">
									<span class="glyphicon glyphicon-time"></span>09.53 12/12/2017
								</small>
							</div>
              <div>
                <p class="pull-left">Messaggio fafljaflkasfkhafhlasfh afahf fajfhaf sfhahfjhaslhasf asfhajhfash</p>
							  <img alt="" src="" style="max-width: 300px; max-height: 300px;">
              </div>
						</div>
					</li>

          <li class="clearfix right">
						<span class="chat-img pull-right"> 
							<img src="user.png" alt="User Avatar" class="img-circle" width="50px"/>
						</span>
						<div class="message">
							<div>
								<strong class="pull-right primary-font">Username</strong>
								<small class="text-muted align-right">
									<span class="glyphicon glyphicon-time"></span>09.53 12/12/2017
								</small>
							</div>
              <div>
                <p class="pull-right">Messaggio blabla blablablablabla blablabla blavvblabla</p>
							  <img alt="" src="" style="max-width: 300px; max-height: 300px;">
              </div>
						</div>
					</li>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="sendForm">
          <div class="message_input_wrapper">
            <input class="message_input" placeholder="Type your message here..." />
          </div>
          <div class="chat_buttons">
            <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Attach</button>
            <button class="btn btn-success">Send</button>
              <!--<div class="icon"></div>
              <div class="text">Attach</div>
              <div class="icon"></div>
              <div class="text">Send</div>-->

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Nuova segnalazione</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div>
                          <img src="user.png" alt="User Avatar" class="img-circle" width="50px"/>
                          <div class="form-group">
                            <label for="warning">Tipo segnalazione:</label>
                            <select class="form-control" id="warning">
                              <option>Incidente</option>
                              <option>Lavori</option>
                              <option>Traffico</option>
                            </select>
                          </div>
                        </div>

                        

                        <div class="form-group">
                          <label for="address">Indirizzo:</label>
                          <input type="text" class="form-control" id="address">
                        </div>
                        <div class="form-group">
                          <label for="comment">Commento:</label>
                          <input type="text" class="form-control" id="comment">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Salva</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                    </div>
                  </div>

                </div>
              </div>
            
          </div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>


<!-- Container (About Section) 
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>-->


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
