#row-room{
    float: none;
    margin: 0 auto;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.chat li.left .message
{
    display: inline-block;
    background-color: #ffe6cb;
    padding: 10px;
    border-radius: 6px;
    margin-left: 15px;
    width: calc(100% - 65px);
    position: relative;
}

.chat li.right .message
{
    display: inline-block;
    background-color: #c7eafc;
    padding: 10px;
    border-radius: 6px;
    margin-right: 15px;
    width: calc(100% - 65px);
    float: right;
}


.chat li .message p
{
    margin: 0;
    color: #777777;
}

.align-right
{
    text-align: right;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
    background-color: #f8f8f8;
}

.message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 320px);
    position: relative;
    padding: 0 20px;
}

.message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.chat_buttons {
    display: inline-block;
}

.add_button {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 6px;
    background-color: #ffe066;
    border: 2px solid #ffe066;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.add_button:hover {
    background-color: #ffcc00;
}

.add_button .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.send_button {
    width: 140px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 6px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.send_button:hover {
    background-color: #7db135;
}

.send_button .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}