<!-- This div contains the view of the best path, which will be calculated after the user selects the source and the destination -->
<div class="container" style="margin-top: 40px; margin-bottom: 120px;">
	<!-- Introduction Row -->
		
		<div class="hero-unit">
			<div class="page-header" style="text-align: center;">
				<h1>Our team</h1>
			</div>
			<p class="lead" style="text-align: center;">
				This team of four students of Politecnico di Torino was built
				in order to develop the Applicazioni Internet project.</br>
			</p>
		</div>

		<!-- Team Members Row -->
		<div class="row" id="row-about" >
			<div class="col-sm-4 text-center" style="margin-top: 10px;">
				<img class="img-circle img-responsive img-center" src="images/alessio.png" alt="" style="margin: auto;">
				<h3>
					Alessio Ciavarella  <br>
					<small>Network Engineer</small>
				</h3>
			</div>
			<div class="col-sm-4 text-center" style="margin-top: 40px;">
				<img class="img-circle img-responsive img-center"
					src="images/martino.png" alt="" style=" margin: auto;">
				<h3>
					Martino Mensio  <br>
					<small>Software Engineer</small>
				</h3>
			</div>
			<div class="col-sm-4 text-center" style="margin-top: 40px;">
				<img class="img-circle img-responsive img-center"
					src="images/riccardo.png" alt="" style=" margin: auto;">
				<h3>
					Riccardo Persiani <br>
					<small>Network Engineer</small>
				</h3>
			</div>
		</div>
		<div class="row" id="row-about-bottom" style="margin-bottom:155px;">
		</div>
	</div>
</div>
