<div class="text-center" >
	<img src="images/turin.jpg" style="max-width: 100%; margin-top:50px"></img>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2>LINES</h2><br>
			<h4><strong>MISSION:</strong> Select a line in order to show its path on the map,
             is also possible to consult every stop of the line selected</h4>
			<p><strong>VISION:</strong> The local public transport requirements that authorities, operators, users and politicians have to cope with are constantly changing. The changes to the Turin Passenger Transportation have set new challenges for authorities such as transport companies.</br>
			   We can support you through these changes and advise you on the design and development of your local public transport system.
			</p>
			<br><button class="btn btn-default btn-lg">Get in Touch</button>
		</div>
		<div class="col-sm-4" id="about-image">
			<img src="images/bus-stop.png" style="height: 250px;"></img>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<img src="images/navigation.png" style="height: 250px;"></img>
		</div>
		<div class="col-sm-8">
			<h2>NAVIGATION</h2><br>
			<h4><strong>MISSION:</strong> Best-Path Planning for Public Transportation Systems</h4><br>
			 
			<p><strong>VISION:</strong> We are a leader operator in the public trasport field which means offer efficient transport service to our Turin people community.</br>
			Our goal is to push the city lifestyle to the best that is why we designed and high-performant best path search.</br>
			This represents exactly our idea of improving the future of Turin mobility that faces every day a population and a territorial growth. 
			</p>
		</div>
	</div>
</div>

<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2>CHAT</h2><br>
			<h4><strong>MISSION:</strong> 4 public chats designed to share live information about trasports </h4><br>
			<p><strong>VISION:</strong> Nothing is dynamic as city traffic and its extremely important to be always updated about of whatever happens in the streets.</br>
			   This chat system allows every registered user to dialog on the actual situation of our lines and to help other citzens to choose the fastest path.</br>
			   This service is made useful thanks entirely to the help of our citzens that choose to spent some of their time to inform other people and that is why we are so proud of be part of this city. 
			</p>
		</div>
		<div class="col-sm-4" id="about-image">
			<img src="images/Chat.png" style="height: 250px;"></img>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<img src="images/warning.png" style="height: 250px;"></img>
		</div>
		<div class="col-sm-8">
			<h2>Alerts</h2><br>
			<h4><strong>MISSION:</strong> Live show on map of the actual alerts in the city</h4><br>
			<p><strong>VISION:</strong> Operare in uno scenario competitivo anche al di là di quanto comporta il quadro normativo attuale. Rafforzare GTT e perseguire: crescita della dimensione territoriale ed aziendale, sviluppo del business anche attraverso acquisizioni ed alleanze, integrazione intermodale e governance unitaria del sistema di mobilità, sinergie ed economie di scala, costituzione di centri di eccellenza di valore anche sovra aziendale.</p>
		</div>
	</div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
	<h2>SERVICES</h2>
	<h4>What we offer</h4>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-off logo-small"></span>
			<h4>EFFICIENCY</h4>
			<p>The local public transport service provides urban and suburban transport services in Turin and in other 26 neighbouring towns.<br>The system is used by 200 million passengers a year, with 44.26 million km operated each year by 1,215 buses and 240 trams.</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-leaf logo-small"></span>
			<h4>ECO-FRIENDLY</h4>
			</p>The ecologic management of the city public transport("Green Public Procurement") has been made mandatory from the recent legal news (legge n. 221, del 28 dicembre 2015).</br>
				It is the insertion of evaluation criterial about the ambient quality in every ordinary procedure concerning the Public Administration.
			</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-wrench logo-small"></span>
			<h4 style="color:#303030;">VALORS</h4>
			<p>Economic efficiency, enviroment respect, dialog orientation, correctness and transparency, social responsabiloity.</p>
		</div>
	</div>
	<br><br>
</div>

