<div class="text-center" >
	<img src="images/turin.jpg" style="max-width: 100%; margin-top:50px"></img>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2>LINES</h2><br>
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<br><button class="btn btn-default btn-lg">Get in Touch</button>
		</div>
		<div class="col-sm-4" id="about-image">
			<img src="images/bus-stop.png" style="height: 250px;"></img>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<img src="images/navigation.png" style="height: 250px;"></img>
		</div>
		<div class="col-sm-8">
			<h2>NAVIGATION</h2><br>
			<h4><strong>MISSION:</strong> Essere un operatore leader nel settore della mobilità con la finalità di offrire, in via prioritaria alla comunità torinese e piemontese, servizi di trasporto collettivo e servizi correlati competitivi per qualità ed economicità, favorendo lo sviluppo economico del territorio nel rispetto dell'ambiente e del sociale. Consolidare la propria leadership a livello nazionale in termini di qualità dei servizi di trasporto e di economicità della gestione di impresa, con la finalità di competere con successo sul mercato e di cogliere tutte le opportunità di sviluppo del business.</h4><br>
			<p><strong>VISION:</strong> Operare in uno scenario competitivo anche al di là di quanto comporta il quadro normativo attuale. Rafforzare GTT e perseguire: crescita della dimensione territoriale ed aziendale, sviluppo del business anche attraverso acquisizioni ed alleanze, integrazione intermodale e governance unitaria del sistema di mobilità, sinergie ed economie di scala, costituzione di centri di eccellenza di valore anche sovra aziendale.</p>
		</div>
	</div>
</div>

<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2>CHAT</h2><br>
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="col-sm-4" id="about-image">
			<img src="images/Chat.png" style="height: 250px;"></img>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<img src="images/warning.png" style="height: 250px;"></img>
		</div>
		<div class="col-sm-8">
			<h2>Alerts</h2><br>
			<h4><strong>MISSION:</strong> Essere un operatore leader nel settore della mobilità con la finalità di offrire, in via prioritaria alla comunità torinese e piemontese, servizi di trasporto collettivo e servizi correlati competitivi per qualità ed economicità, favorendo lo sviluppo economico del territorio nel rispetto dell'ambiente e del sociale. Consolidare la propria leadership a livello nazionale in termini di qualità dei servizi di trasporto e di economicità della gestione di impresa, con la finalità di competere con successo sul mercato e di cogliere tutte le opportunità di sviluppo del business.</h4><br>
			<p><strong>VISION:</strong> Operare in uno scenario competitivo anche al di là di quanto comporta il quadro normativo attuale. Rafforzare GTT e perseguire: crescita della dimensione territoriale ed aziendale, sviluppo del business anche attraverso acquisizioni ed alleanze, integrazione intermodale e governance unitaria del sistema di mobilità, sinergie ed economie di scala, costituzione di centri di eccellenza di valore anche sovra aziendale.</p>
		</div>
	</div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
	<h2>SERVICES</h2>
	<h4>What we offer</h4>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-off logo-small"></span>
			<h4>EFFICIENCY</h4>
			<p>The local public transport service provides urban and suburban transport services in Turin and in other 26 neighbouring towns.<br>The system is used by 200 million passengers a year, with 44.26 million km operated each year by 1,215 buses and 240 trams.</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-leaf logo-small"></span>
			<h4>VALORS</h4>
			<p>La gestione ecologica degli acquisti pubblici (il cosiddetto "Green Public Procurement") è stata resa obbligatoria dalle recenti novità normative (legge n. 221, del 28 dicembre 2015) recepite anche dal nuovo Codice degli appalti. Consiste nell'inserimento di criteri di qualificazione ambientale nelle ordinarie procedure di acquisto di beni e servizi delle Pubbliche Amministrazioni.</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-wrench logo-small"></span>
			<h4 style="color:#303030;">HARD WORK</h4>
			<p>Centralità della persona, efficienza economica ed efficacia, rispetto e tutela dell'ambiente, orientamento al dialogo, correttezza negoziale e trasparenza, responsabilità sociale.</p>
		</div>
	</div>
	<br><br>
</div>

