<div class="container-fluid" style="margin-bottom: 120px; max-width: 800px;">
    <h2><strong>Privacy policy</strong></h2>
    <h3><strong>How we collect and use information</strong></h3>
    <p>All the informations we collect about you are provided by you directly. All those informations are stored in our database and won't be shared with any third party.</p>
    <h3><strong>Visibility of informations</strong></h3>
    <h5><strong>Email address</strong></h5>
    <p>Your email address is required by the platform during the signup. It is used only to send an activation link for your account and will never be used to send other messages.</p>
    <h5><strong>Nickname and profile picture</strong></h5>
    <p>The nickname, that can be changed at any time, can be seen by other users of the platform together with your profile picture when you send a message in the chat. The profile picture is not required, it is your choice to use it.</p>
    <h5><strong>Other personal data</strong></h5>
    <p>All the other personal data that you provide in your profile page are not visible to anyone.</p>
    
    <h3><strong>How we keep protected your informations</strong></h3>
    <h5><strong>At rest</strong></h5>
    <p>The database is protected with high level of security (256-bits credentials for accessing the database).</p>
    <h5><strong>In transit</strong></h5>
    <p>The connection between the frontend and the backend application is done over the network using HTTPS to protect your informations.</p>
    <h5><strong>Password security</strong></h5>
    <p>All the account passwords must be at least of 8-digits. Specific choices have been done to avoid dictionary attacks: all the password are salt-encrypted with state of the art algorithms.</p>
</div>