<div class="container" id="container-registration-success">

	<div class="hero-unit" style="text-align:center">
		<div class="page-header" >
			<h1>Registration Success</h1>
		</div>
		<p class="lead" style="margin-top:35px;">Done!</p>
		<div class="alert alert-success" role="alert">
		 Well done <strong>{{ctrl.nickname}}</strong>! Your registration succeded correctly.
		</div>
		<div class="container-signup">
			<p>Thanks for registering . Check your mailbox for the confirmation link!</p>
		</div>
	</div>
</div>
