<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Add picture</h4>
</div>

<div class="modal-body">
    <form class="form-inline">
        <div class="form-group">
            <img ng-if="ctrl.image" ng-src="{{ctrl.image}}" />
            <button class="btn btn-primary" ng-click="ctrl.openFileSelector()">Select a picture</button>
            <input ng-model="ctrl.imageFile" type="file" accept="image/*" style="display:none;" />
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="ctrl.save()">Add picture</button>
</div>