<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">New alert with tag #{{ctrl.alert.hashtag}}</h4>
</div>

<form ng-submit="ctrl.save()">
    <div class="modal-body">
        <div>
            <!-- TODO image for alert type <img ng-src="{{ctrl.typeImage}}" alt="User Avatar" class="img-circle" width="50px" /> -->
            <div class="form-group">
                <label for="warning">Alert type:</label>
                <select class="form-control" id="warning" ng-model="ctrl.alert.alertTypeId" ng-required="required">
                    <option ng-selected="option.id == ctrl.alert.alertTypeId" ng-repeat="option in ctrl.alertTypes track by option.id" ng-value="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <button class="btn" ng-click="ctrl.geolocate()">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
            <input type="text" class="form-control" id="address" ng-model="ctrl.alert.address" ng-model-options="{ debounce: 500 }" ng-change="ctrl.addressChanged()" required="required">
            Address result: {{ctrl.fullAddress}}
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" class="form-control" id="comment" ng-model="ctrl.alert.comment">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success">Create alert</button>
    </div>
</form>