<div class="container" id="container-login">

	<div class="hero-unit">
	    <div class="page-header">
	        <h1>Alert</h1>
	    </div>
	    <p class="lead">Alert List</p>
	    <div class="container-signup">
	        <p>Remember that you must be registered in order to see the alerts</p>
	    </div>
	</div>

	<div style="margin-top:40px;">
		<leaflet geojson-nested="true" geojson="ctrl.geojson" markers="ctrl.markers" center="ctrl.center" event-broadcast="ctrl.events" legend="ctrl.legend" tiles="ctrl.tiles" height="480px"></leaflet>
	</div>

	<div class="hero-unit" style="margin-top:40px;">
		<p class="lead">Hashtags List</p>
		<div ng-repeat="alert in ctrl.alerts">
			<a ui-sref="page.alerts({alertId: '{{alert.id}}' })">#{{alert.hashtag}} </a> {{alert.rating}}
		</div>
	</div>



</div>
