<!-- -->
<div class="container" id="container-busLineList">
    <div class="hero-unit">
	    <div class="page-header">
	        <h1>Lines</h1>
	    </div>
	    <p class="lead">Here you can see the paths of each bus, tram and metro line</p>

	</div>

    <div class="col-sm-12">
        <div class="input-group" uib-dropdown is-open="ctrl.showList">
            <input ng-model="ctrl.searchText" ng-change="ctrl.showResult()" type="text" class="form-control" placeholder="Search a line...">
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" role="menu">
                <li ng-repeat="line in ctrl.lines | filter : {line: ctrl.searchText}">
                    <a ui-sref="page.busLines.line({lineId: '{{line.line}}' })">{{line.line}} - {{line.desc}}</a>
                </li>
            </ul>

            <span class="input-group-btn">
                <button class="btn btn-secondary" ng-click="ctrl.showAll()" type="button">{{ctrl.buttonText}}</button>
            </span>
        </div>
    </div>

    <div>
        <div ui-view></div>
    </div>
</div>
