<div class="container-fluid">
  <!-- <div class="row" id="row-room"> -->

  <div class="panel panel-default" id="panel-room">
    <div class="panel-heading text-center">
      Chat
    </div>
    <div class="panel-body" scroll-glue force-glue>
      <ul class="chat" ng-repeat="msg in ctrl.messages | orderBy:'sendingTime'">
        <message username="{{msg.userNickname}}" imgUrl="{{msg.userImageUrl}}" timestamp="{{msg.sendingTime}}" text="{{msg.text}}" side="{{global.user.id == msg.userId ? 'right' : 'left'}}"></message>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input class="message_input" ng-model="ctrl.msg_text" placeholder="Type your message here..." ng-keyup="$event.keyCode == 13 ? ctrl.sendMessage() : null"/>
        </div>

        <div class="chat_buttons clearfix">
          <!--<button class="add_button text" ng-click="ctrl.openNewWarningModal()"><span class="glyphicon glyphicon-plus"></span></button> -->
          <button class="add_button text" popover-placement="top" uib-popover-template="ctrl.template" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          <button class="send_button text" ng-click="ctrl.sendMessage()"><span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>