<li class="clearfix {{li_pos}}">
    <span class="chat-img {{pull}}"> 
        <img http-src="{{userImageUrl == null ? 'user-neutral.png' : userImageUrl}}" alt="User Avatar" class="img-circle" width="50px"/>
    </span>
    <div class="message">
        <div>
            <strong class="primary-font {{username_pos}}">{{username}}</strong>
            <small class="text-muted {{timestamp_pos}}">
                <span class="glyphicon glyphicon-time"></span>{{timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
            </small>
        </div>
        <div>
        <p class="{{pull}}">{{text}}</p>
            <img alt="" src="" style="max-width: 300px; max-height: 300px;">
        </div>
        <!-- TODO display image of message if available -->
    </div>
</li>